.home-section {
   background: url(/assets/images/hero.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width:  $width_percent;
   height: $height_full;
   background-color: rgba(0,0,0,0.7);
   background-blend-mode: multiply;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   text-align: center;
}

.hero-info-wrapper {
   @include flex(center,.7rem,column);
   width: $width_percent;
   height: $height_percent;
}


.hero-info{
   width: $width_half;
}

.btn-container {
   @include flex(space-between,1.5rem,row);
}