.btn {
   display: inline-block;
   padding: spacer(1) spacer(2);
   border: none;
   border-radius: 4px;
   font-size: $font-size-medium;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
 
   @include phone {
     font-size: $font-size-base;
   }
 }
 
 .btn-contained {
   @include transition(background-color);
 
   background-color: $orange;
   color: $bright;
 
   &:hover {
     border: 1px solid $orange;
     background-color: transparent;
     color: $orange;
   }
 
   &:active {
     background-color: darken($orange, 20%);
     outline: none;
     box-shadow: 0 0 0 4px lighten($orange, 20%);
   }
 }

 .btn-start{
  @include transition(background-color);
 
   background-color: transparent;
   color: $bright;
   border: 1px solid $bright;
 
   &:hover {
    background-color: $bright;
    color: $dark;
    border: none;
     
   }
 
   &:active {
     background-color: darken($dark, 20%);
     outline: none;
     box-shadow: 0 0 0 4px lighten($bright, 20%);
   }
  

 }